
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Please enter the sales order details below.</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group col-md-4">
                            <label>Order Number </label>
                            <input type="text" name="OrderNumber" id="OrderNumber" class="form-control neworderheader" placeholder="Order Number" required="" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Order Type </label>
                            <select class="form-control selectpicker neworderheader" name="OrderTypeId" id="OrderTypeId" data-live-search="true" data-size="8" style="width: 70%;">
                                <option value="1" selected>Normal</option>
                                <option value="2">Staff</option>
                                <option value="3">Mechanical</option>
                                <option value="4">Perishable</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Order Status </label>
                            <select class="form-control selectpicker neworderheader" name="OrderStatusId" id="OrderStatusId" data-live-search="true" data-size="8" style="width: 70%;">
                                <option value="1" selected>New</option>
                                <option value="2">Processing</option>
                                <option value="3">Complete</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-md-6">
                            <label>Customer Name</label>
                            <input type="text" name="CustomerName" id="CustomerName" class="form-control neworderheader" placeholder="Enter Customer Name" required="" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Order date </label>
                            <input type="text" name="CreateDate" id="CreateDate" class="form-control neworderheader" placeholder="Create Date Date" required="" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div style="float: right; display:inline-block;">
                            <input class="btn btn-primary" name="btnAddOrderHeader" id="btnAddOrderHeader" value="Add Product" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div><hr />

              <div class="form-group row">
                  <div class="col-sm-6">
                      <div class="col-sm-4">
                          <label>Start Date</label>
                          <input class="form-control" placeholder="Start Date" type="text" id="StartCreateDate" name="StartCreateDate" />
                      </div>
                      <div class="col-sm-4">
                          <label>End Date</label>
                          <input class="form-control" placeholder="End Date" type="text" id="EndCreateDate" name="EndCreateDate" />
                      </div>
                      <div class="col-sm-4">
                          <br />
                          <input class="btn btn-primary" name="btnFilterOrderHeaderCreateDate" id="btnFilterOrderHeaderCreateDate" value="Filter" type="button">
                      </div>
                  </div>
              </div>
                  <table id="OrderHeaderTable" class="display hover table table-striped table-bordered" style="width:100%;">
                      <thead>
                          <tr>
                              <th></th>
                              <th align="left" class="salesorderth">Order Number</th>
                              <th align="left" class="salesorderth">Order Type</th>
                              <th align="left" class="salesorderth">Order Status</th>
                              <th align="left" class="salesorderth">Customer Name</th>
                              <th align="left" class="salesorderth">Order date</th>
                              <th align="left" class="salesorderth">Action</th>

                          </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>
</div>

<div class="modal fade" id="editorderHeaderModal" tabindex="-1" role="dialog" aria-labelledby="editorderHeaderModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:50%">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h2 class="modal-title capture-modal-title" id="modalHeading" >Sales Order Header Edit</h2>
            </div>
            <div class="modal-body">
                <div class="row mt" style="border-bottom: 1px solid #e5e5e5; padding: 15px">
                    <form class="form-horizontal style-form" method="POST">
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Order Number:</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control editorderheader" type="text" name="OrderNumber" id="OrderNumber" />
                                        <input class="form-control  editorderheader" type="hidden" id="OrderHeaderId" name="OrderHeaderId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Order Type:</label></div>
                                    <div class="col-sm-8">
                                        <select class="form-control selectpicker editorderheader" name="OrderTypeId" id="editOrderTypeId" data-live-search="true" data-size="8" style="width: 70%;">
                                            <option value="1">Normal</option>
                                            <option value="2">Staff</option>
                                            <option value="3">Mechanical</option>
                                            <option value="4">Perishable</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Order Status:</label></div>
                                    <div class="col-sm-8">
                                        <select class="form-control selectpicker editorderheader" name="OrderStatusId" id="editOrderStatusId" data-live-search="true" data-size="8" style="width: 70%;">
                                            <option value="1">New</option>
                                            <option value="2">Processing</option>
                                            <option value="3">Complete</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Customer Name:</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="CustomerName" id="CustomerName" class="form-control editorderheader" placeholder="Enter Customer Name" required="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Order date:</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="CreateDate" id="CreateDate" class="form-control editorderheader" placeholder="Create Date Date" required="" />
                                    </div>
                                </div>                               
                            </div>                           
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-secondary" onclick='javascript: return $("#editorderHeaderModal").modal("hide");'>Close</button>
                            <button type="button" style="display: none" class="btn btn-success"  id="btnSaveOrderHeaderChanges">Save Changes</button>
                            <button type="button" style="display: none" class="btn btn-danger"  id="btnDeleteOrderHeader">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addOrderLineModal" tabindex="-1" role="dialog" aria-labelledby="addOrderLineModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:60%">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h2 class="modal-title capture-modal-title" id="modalHeading">Add Product OrderLine</h2>
            </div>
            <div class="modal-body">
                <div class="row mt" style="border-bottom: 1px solid #e5e5e5; padding: 15px">
                    <form class="form-horizontal style-form" method="POST">
                        <div class="row mt">
                            <div class="col-lg-6">
                                
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Line Number:</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control orderline-form" type="hidden" id="OrderLineOrderHeaderId" name="OrderHeaderId" />
                                        <input class="form-control orderline-form" readonly type="text" id="LineNumber" name="LineNumber" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Product Code :</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control orderline-form" type="text" id="ProductCode" name="ProductCode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Product Type :</label></div>
                                    <div class="col-sm-8">
                                        <select class="form-control selectpicker orderline-form" name="ProductTypeId" id="ProductTypeId" data-live-search="true" data-size="8" style="width: 100%;">
                                            <option value="1">Apparel</option>
                                            <option value="2">Parts</option>
                                            <option value="3">Equipment</option>
                                            <option value="3">Motor</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label"> Cost Price :</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control orderline-form" type="text" id="CostPrice" name="CostPrice" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label"> Sales Price :</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control orderline-form" type="text" id="SalesPrice" name="SalesPrice" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><label class="control-label">Quantity  :</label></div>
                                    <div class="col-sm-8">
                                        <input class="form-control orderline-form" type="text" id="Quantity" name="Quantity" />
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12" >
                                <button type="button" class="btn btn-secondary" onclick='javascript: return $("#addOrderLineModal").modal("hide");'>Close</button>
                                <button type="button" class="btn btn-success" id="btnAddOrderLine">Save Order Line</button>
                            </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('*[name=CreateDate]').appendDtpicker();           
        });

        $(document).ready(function () {
            LoadAllOrderHeaders();


            $("#btnFilterOrderHeaderCreateDate").on("click", function () {
                debugger;
                let StartCreateDate = $("#StartCreateDate").val();
                let EndCreateDate = $("#EndCreateDate").val();
                let object = {"StartCreateDate": StartCreateDate,"EndCreateDate": EndCreateDate}
                
            });

            $("#btnAddOrderHeader").on("click", function () {
                let OrderHeader = {};
                OrderHeader["OrderType"] = $("#OrderTypeId option:selected").text();
                OrderHeader["OrderStatus"] = $("#OrderStatusId option:selected").text();

                $(".neworderheader").each(function (index) {
                    if ($(this).attr("name") !== undefined) {
                        OrderHeader[this.name] = $(this).val();
                    }
                });
                AddOrderHeader(OrderHeader);
            });


            $("#btnSaveOrderHeaderChanges").on("click", function () {
                let OrderHeader = {};
                OrderHeader["OrderType"] = $("#editOrderTypeId option:selected").text();
                OrderHeader["OrderStatus"] = $("#editOrderStatusId option:selected").text();

                $(".editorderheader").each(function (index) {
                    if ($(this).attr("name") !== undefined) {
                        OrderHeader[this.name] = $(this).val();
                    }
                });
                EditOrderHeader(OrderHeader);
            });

            $("#btnDeleteOrderHeader").on("click", function () {
                let OrderHeader = {};
                OrderHeader["OrderType"] = $("#editOrderTypeId option:selected").text();
                OrderHeader["OrderStatus"] = $("#editOrderStatusId option:selected").text();

                $(".editorderheader").each(function (index) {
                    if ($(this).attr("name") !== undefined) {
                        OrderHeader[this.name] = $(this).val();
                    }
                });              
                DeleteOrderHeader(OrderHeader);
            });

            $("#btnAddOrderLine").on("click", function () {
                let OrderLine = {};
                OrderLine["ProductType"] = $("#ProductTypeId option:selected").text();
                $(".orderline-form").each(function (index) {
                    if ($(this).attr("name") !== undefined) {
                        OrderLine[this.name] = $(this).val();
                    }
                });
                AddOrderLine(OrderLine);
            });

            
        });

        function AddOrderLine(OrderLine) {

            $.ajax({
                type: 'POST',
                cache: true,
                url: `api/v1/salesorders/addorderline`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(OrderLine),
                success: function (response) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        function AddOrderHeader(OrderHeader) {
           
            $.ajax({
                type: 'POST',
                cache: true,
                url: `api/v1/salesorders/addorderheader`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(OrderHeader),
                success: function (response) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        function EditOrderHeader(OrderHeader) {            
            $.ajax({
                type: 'POST',
                cache: true,
                url: `api/v1/salesorders/editorderheader`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(OrderHeader),
                success: function (response) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }

        function DeleteOrderHeader(OrderHeader) {            
            $.ajax({
                type: 'POST',
                cache: true,
                url: `api/v1/salesorders/deleteorderheader`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(OrderHeader),
                success: function (response) {
                    location.reload();
                },
                error: function (data) {
                    console.log(data.responseText);
                }
            });
        }


        function LoadAllOrderHeaders() {
            $.ajax({
                url: `api/v1/salesorders/orderhearderlist`,
                type: "GET",
                cache: false,
                success: function (orderHeaderlist) {
                    BindOrderHeaderTable(orderHeaderlist)
                },
                error: function (req, status, error) {
                    console.log(req);
                }
            });
        }
        function BindOrderHeaderTable(orderHeaderlist) {
            var orderHeaderTable = undefined;
            if (orderHeaderTable == undefined) {

                orderHeaderTable = $('#OrderHeaderTable').DataTable({
                    data: orderHeaderlist,
                    orderCellsTop: true,
                    fixedHeader: true,
                    columns: [
                        {
                            className: 'dt-control',
                            orderable: false,
                            data: null,
                            defaultContent: '',
                        },
                        { data: 'OrderNumber' },
                        { data: 'OrderType' },
                        { data: 'OrderStatus' },
                        { data: 'CustomerName' },
                        { data: 'CreateDate' },                        
                        {
                            data: null,
                            className: 'dt-edit',
                            orderable: false,
                            render: function (data) {
                                let editButton = `<button title="Edit order header" class="btn btn-primary btn-xs edit-order-header">Edit</button>
                            <button title="Add order line" class="btn btn-success btn-xs add-order-line">Add Order Line</button>
                            <button title="Delete order header" class="btn btn-danger btn-xs delete-order-header">Delete</button>`;
                                return editButton;
                            }
                        }
                        
                    ]
                });

                $('#OrderHeaderTable tbody').on('click', '.edit-order-header', function () {
                    let data = orderHeaderTable.row($(this).closest('tr')).data();
                    $(".editorderheader").each(function (index) {
                        for (let attribute in data) {                           
                            if ($(this).attr("name") !== undefined && $(this).attr("name") == attribute) {                                
                                if ($(this).attr("name") == 'OrderTypeId' || $(this).attr("name") == 'OrderStatusId') {
                                    debugger;
                                    $(this).val(data[attribute]).change();
                                } else {
                                    $(this).val(data[attribute]);
                                }
                            }
                        }
                    });
                    $("#modalHeading").text("Sales Order Header Edit");
                    $("#btnSaveOrderHeaderChanges").show();
                    $("#editorderHeaderModal").modal('show');
                });

                $('#OrderHeaderTable tbody').on('click', '.delete-order-header', function () {
                    let data = orderHeaderTable.row($(this).closest('tr')).data();
                    $(".editorderheader").each(function (index) {
                        for (let attribute in data) {
                            if ($(this).attr("name") !== undefined && $(this).attr("name") == attribute) {
                                if ($(this).attr("name") == 'OrderTypeId' || $(this).attr("name") == 'OrderStatusId') {
                                    debugger;
                                    $(this).val(data[attribute]).change();
                                } else {
                                    $(this).val(data[attribute]);
                                }
                                $(this).prop("readonly", true);
                            }
                         
                        }
                    });
                    $("#modalHeading").text("Delete Current Order Header");
                    $("#btnDeleteOrderHeader").show();
                    $("#btnSaveOrderHeaderChanges").hide();
                    $("#editorderHeaderModal").modal('show');
                });

                $('#OrderHeaderTable tbody').on('click', '.add-order-line', function () {
                    let orderHeaderId = orderHeaderTable.row($(this).closest('tr')).data().OrderHeaderId;
                    $("#OrderLineOrderHeaderId").val(orderHeaderId);
                    $.when($.ajax({
                        url: `api/v1/salesorders/orderlinelist?orderHeaderId=${data.OrderHeaderId}`,
                        type: "GET",
                        cache: false,
                        success: function (orderLineList) {                           
                        },
                        error: function (req, status, error) {
                            console.log(req);
                        }
                    })).done(function (orderLineList) {
                        debugger;
                        let countLineNumber = orderLineList.length + 1;                        
                        $("#LineNumber").val(countLineNumber);
                        $("#addOrderLineModal").modal('show');
                    });
                   
                });

                $('#OrderHeaderTable tbody').on('click', 'td.dt-control', function () {
                    let orderHeaderId = orderHeaderTable.row($(this).closest('tr')).data().OrderHeaderId;
                    var tr = $(this).closest('tr');
                    var row = orderHeaderTable.row(tr);
                    let data = orderHeaderTable.row($(this).closest('tr')).data();
                    if (row.child.isShown()) {                       
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {                       
                        showOrderLines(orderHeaderId, row);
                        tr.addClass('shown');
                    }
                });
                $('#min, #max').on('change', function () {
                    orderHeaderTable.draw();
                });
            }

            function showOrderLines(orderHeaderId, row) {

                
                $.when($.ajax({
                    url: `api/v1/salesorders/orderlinelist?orderHeaderId=${orderHeaderId}`,
                    type: "GET",
                    cache: false,
                    success: function (orderLineList) {
                        _orderLineList = orderLineList;
                    },
                    error: function (req, status, error) {
                        console.log(req);
                    }
                })).done(function (orderLineList) {
                    debugger;
                    let childTable = ''
                    let childDataTable = undefined;
                    childTable = `<table  id="OrderLinesTable" class="display hover table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Line Number</th>                                        
                                        <th>Product Type</th>
                                        <th>Cost Price</th>
                                        <th>Sales Price</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead></table>`;
      
                    var elem = document.createElement("div");
                    elem.innerHTML = childTable;
                    childDataTable = $(elem).find("#OrderLinesTable").DataTable({
                        paging: false,
                        data: orderLineList,                        
                        columns: [
                            
                            { data: 'ProductCode' },
                            { data: 'LineNumber' },
                            { data: 'ProductType' },
                            { data: 'CostPrice' },
                            { data: 'SalesPrice' },
                            { data: 'Quantity' },
                            {
                                data: null,
                                className: "dt-center",
                                orderable: false,
                                render: function (data) {
                                    let editButton = `<button title="Edit order line" data-order-line-id=${data.OrderLineId} class="btn btn-success btn-xs edit-orderline">Edit</button>
                                                      <button title="Delete order line" data-order-line-id=${data.OrderLineId} class="btn btn-danger btn-xs delete-line">Delete</button>`;
                                    return editButton;

                                }
                            }
                        ],
                    });

                    row.child(elem).show();
                });

            }


        }



    </script>
}
